# Question 1

In [3]:
l1 = []
for i in range(10):
  inp = int(input())
  if(inp%2 == 0):
    l1.append(inp)
print(l1)

45
56
8
77
67
34
31
1567
890
40
[56, 8, 34, 890, 40]

# Question 2

In [2]:
l2 = []
#Populating a list of 10 integers from user inputs using list comprehension
l2 = [int(input()) for i in range(5)]
print(l2)

450
59
7
23
45987
[450, 59, 7, 23, 45987]

In [9]:
#Populating a list with random integers between 1 and 500
import random as ran
l3 = [ran.randint(1,500) for i in range(5)]
print(l3)

[236, 403, 319, 212, 235]

In [12]:
# Populating a list of numbers divisible by 3 , divisible by 5 and divisible by neither 3 nor 5 from a preexisting list of random integers.
l4 = [ran.randint(1,1000) for i in range(15)]
print("Parent List : " , l4)
l5 = [x for x in l4 if x%5 == 0]
print("List of numbers divisible by 5 : " , l5)
l6 = [x for x in l4 if x%3 == 0]
print("List of numbers divisible by 3 : " , l6)
l7 = [x for x in l4 if x%3 != 0 if x%5 != 0]
print("List of numbers not divisible by both 3 and 5 : " , l7)

Parent List :  [339, 919, 717, 16, 804, 508, 245, 257, 917, 168, 390, 84, 424, 435, 376]
List of numbers divisible by 5 :  [245, 390, 435]
List of numbers divisible by 3 :  [339, 717, 804, 168, 390, 84, 435]
List of numbers not divisible by both 3 and 5 :  [919, 16, 508, 257, 917, 424, 376]

In [13]:
# Populating a list of even and odd nos from a randomly generated list
l8 = [ran.randint(1,1000) for i in range(15)]
print("Parent List : " , l8)
l9 = [x for x in l4 if x%2 == 0]
print("Even no.s list : " , l9)
l10 = [x for x in l4 if x%2 != 0]
print("Odd no.s list : " , l10)

Parent List :  [271, 713, 112, 798, 245, 611, 938, 363, 160, 404, 610, 552, 112, 670, 702]
Even no.s list :  [16, 804, 508, 168, 390, 84, 424, 376]
Odd no.s list :  [339, 919, 717, 245, 257, 917, 435]

#Question 3

In [14]:
n = int(input())
dict_1 = {i:i*i for i in range(n+1)}
print(dict_1)

10
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#Question 4

In [26]:
xInit = 0
xFin = 0
yInit = 0
yFin = 0
n = int(input())
for i in range(n):
  d = input()
  dir,step = d.split()
  step = int(step)
  if dir == "UP":
    yFin = yFin + step
  elif dir == "DOWN":
    yFin = yFin - step
  elif dir == "LEFT":
    xFin = xFin - step
  elif dir == "RIGHT":
    xFin = xFin + step
  else:
    print("Invalid Input")
import math
finalPosition = int(round(math.sqrt( ((xFin - xInit)**2) + ((yFin - yInit)**2) )))
print(finalPosition)

4
UP 5
DOWN 3
LEFT 3
RIGHT 2
2