#Question 1

In [2]:
import pandas as pd
print(pd.__version__)

1.1.4

#Question 2

In [8]:
import numpy as np

arr = np.arange(2,20,3)
sr1 = pd.Series(data = arr , index = ['One','Two','Three','Four','Five','Six'])
print(sr1)

One       2
Two       5
Three     8
Four     11
Five     14
Six      17
dtype: int64

In [11]:
#Without specifying indices explicitly

sr2 = pd.Series(data = arr)
print(sr2)

0     2
1     5
2     8
3    11
4    14
5    17
dtype: int64

#Question 3

In [22]:
series_1 = pd.Series(arr,['Sun','Mon','Tue','Wed','Thur','Fri'])
print("Initial series : \n\n", series_1 , end = "\n\n\n")
df_1 = pd.DataFrame(series_1).reset_index()
df_1.columns=['Day','Value']
print(df_1)

Initial series :

 Sun      2
Mon      5
Tue      8
Wed     11
Thur    14
Fri     17
dtype: int64


    Day  Value
0   Sun      2
1   Mon      5
2   Tue      8
3   Wed     11
4  Thur     14
5   Fri     17

#Question 4

In [23]:
import seaborn as sns

sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [24]:
mpg_df = sns.load_dataset('mpg')
mpg_df.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

#Question5

In [34]:
mpg_df['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

# *Answer : USA, Japan and Europe*

# Question 6

In [35]:
ex_df = mpg_df[mpg_df['origin']=='usa']

In [36]:
ex_df.sample(10)

      mpg  cylinders  ...  origin                               name
393  27.0          4  ...     usa                    ford mustang gl
253  20.5          6  ...     usa                   chevrolet malibu
249  19.9          8  ...     usa  oldsmobile cutlass salon brougham
94   13.0          8  ...     usa       chrysler new yorker brougham
176  19.0          6  ...     usa                          amc pacer
298  23.0          8  ...     usa                  cadillac eldorado
291  19.2          8  ...     usa      chevrolet malibu classic (sw)
137  13.0          8  ...     usa           buick century luxus (sw)
339  26.6          4  ...     usa                      buick skylark
6    14.0          8  ...     usa                   chevrolet impala

[10 rows x 9 columns]

In [37]:
ex_df.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

In [33]:
ex_df['origin'].unique()

array(['usa'], dtype=object)